<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>
      <%= @user.username %>
    </h1>

    <div class="d-flex flex-row-reverse">
      <div class="p-2">
        <div class="d-flex justify-content-end">
          <%= link_to "Followers", users_path(@user.username), class: "nav-link" %>
          <div class="float-sm-end">
            <span class="offset-md-3 align-top badge text-bg-secondary">
              <%= @followers_count.to_s %>
            </span>
          </div>
        </div>
      </div>

      <div class="p-2">
          <div class="d-flex justify-content-end">
            <%= link_to "Following", users_path(@user.username), class: "nav-link" %>
            <div class="float-sm-end">
              <span class="offset-md-3 align-top badge text-bg-secondary">
                <%= @following_count.to_s %>
              </span>
            </div>
          </div>
      </div>
    </div>


    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "Posts #{@posts_count}", users_path(@user.username), class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Liked #{@likes_count}", liked_photos_path(@user.username), class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>




<% current_user.own_photos.each do |photo| %>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">

        <%= image_tag  photo.image, class: "card-img-top" %>

        <div class="card-body">
          <h5 class="card-title"><%= photo.owner.username %></h5>
          <p class="card-text"><%= photo.caption %></p>
        </div>

        <ul class="list-group list-group-flush">
          <% photo.comments.each do |comment| %>
            <li class="list-group-item">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="..." alt="...">
                </div>
                <div class="flex-grow-1 ms-3">
                  <%= comment.author.username %>
                </div>
                <div class="flex-grow-1 ms-3">
                  <%= comment.body %>
                </div>
              </div>
              
            </li>
          <% end %>
        </ul>

        <div class="card-body">
          <%= render "comments/form", comment: photo.comments.build %>
        </div>

      </div>
    </div>
  </div>
<% end %>
