<div class="row">
  <div class="col-md-6 offset-md-3">

    <div class="media-body">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-0 mb-3 display-4">
          <%= @user.username %>
        </h1>

        <div>
          <span class="badge text-bg-secondary">
            <% if @user.private == true %>
              Private
            <% end %>
          </span>
        </div>
      </div>
    </div>
    
    <div class="row mb-4">
      <div class="d-flex justify-content-between align-items-center">
        <div class="col">
            Followers 
            <span class="badge text-bg-secondary">
              <%= @user.accepted_received_follow_requests.count %>
            </span>
        </div>
        
        <div class="col">
            Following
            <span class="badge text-bg-secondary">
              <%= @user.accepted_sent_follow_requests.count %>
            </span>    
        </div>

        <div class="col">
            Pending
            <span class="badge text-bg-secondary">
              <%= @user.received_follow_requests.count %>
            </span>  
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs nav-justified mb-1">
      <li class="nav-item">
        <%= link_to "Posts", users_path(@user.username), class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "Liked", liked_photos_path(@user.username), class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>



<% current_user.own_photos.each do |photo| %>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">

        <%= image_tag  photo.image, class: "card-img-top" %>

        <div class="card-body">
          <h5 class="card-title"><%= photo.owner.username %></h5>
          <p class="card-text"><%= photo.caption %></p>
        </div>

        <ul class="list-group list-group-flush">
          <% photo.comments.each do |comment| %>
            <li class="list-group-item">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img src="..." alt="...">
                </div>
                <div class="flex-grow-1 ms-3">
                  <%= comment.author.username %>
                </div>
                <div class="flex-grow-1 ms-3">
                  <%= comment.body %>
                </div>
              </div>
              
            </li>
          <% end %>
        </ul>

        <div class="card-body">
          <%= render "comments/form", comment: photo.comments.build %>
        </div>

      </div>
    </div>
  </div>
<% end %>
